<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Simple examlpe of Venmo API">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.login').submit(function(event){
			event.preventDefault();
			var self = this;
			$.post($(this).attr('action'), function(data){
				console.log("loging in user with venmo");
				console.log(data);
			});
		});
	});
	</script>
</head>
<body>
	
	<h1>Venmo LogIn </h1>
	<hr>
	<form class="login" action='/venmo_login'  method='post'>
	    <input type='submit' value='Log In with Venmo'>
	</form>
	<hr>
	<div id="data"></div>
</body>
</html>